.containerNos {
    display: flex;
    flex-wrap: wrap;
    background-color: #e5bfbc;
    display: grid;
    grid-template: 3fr / 4fr  1.7fr;
    grid-template-areas:
        "main aside";
}

.mainNos {
    grid-area: main;
    background-color: white;
    border-radius: 30px;
    margin: 30px;
    padding: 3rem;
    gap: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.asideNos {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.nuestra{
    background-color: #e5bfbc;
    padding: 3rem;
    border-radius: 30px;
    color:#764d3e
}
.quienes{
    background-color: #e5bfbc;
    padding: 3rem;
    border-radius: 30px;
    color: #764d3e;
}

.nuestro{
    background-color: #e5bfbc;
    padding: 3rem;
    border-radius: 30px;
    color: #764d3e;
}
.text{
    font-size: x-large;
    border: solid 2px #93435b;
    border-radius: 30px;
    padding: 1rem;
}

@media screen and (max-width: 992px) {

    .containerNos{
        display: flex;
        flex-direction: column;
        height: 100%;
    grid-template: 3fr auto;
    grid-template-areas:
        "main"
        "aside"
        ;
    }

aside{
    gap: 1rem;
    margin: 1rem;
}
}