.cardTrata {
    border: 1px solid #86117e;
    border-radius: 30px;
    box-shadow: 0 0 5px #86117e;
    width: 40%;
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
}

.cardTrata-image img {
    width: 100%;
    border-radius: 30px;
}

.cardTrata-title,
.description {
    text-align: center;
    margin: 0;
    padding: 1rem;
}

.cardTrata-title {
    font-weight: bold;
    font-size: x-large;
    color: #93435b;

}

.descriptionTrata {
    font-size: large;
margin: 0 1rem 1rem 1rem;
}



@media screen and (max-width: 992px) {
    .cardTrata {
        width: 90%;
    }
}