.contentContact{
    color: #764d3e;
    font-family: 'Montserrat', sans-serif;
    background-color: #e5bfbc;
    display: grid;
    grid-template: 3fr / 4fr  2fr;
    grid-template-areas:
        "mainContact asideContact"
    ;
}

h1{
    color: #764d3e;
    font-family: 'Montserrat', sans-serif;
}
.mainContact{
    padding: 1rem;
    background-color: white;
    border-radius: 30px;
    margin: 30px;
    font-size: x-large;
    grid-area: mainContact;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.asideContact{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
    gap: 2rem;
    grid-area: asideContact;
}


@media screen and (max-width: 780px) {
    .contentContact{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        grid-template: 4fr 4fr;
        grid-template-areas:
            "mainContact" 
            "asideContact"
        ;
    }
}

.formContact{
    margin: 2rem;
}
