.container {
    display: flex;
    flex-wrap: wrap;
    height: 200vh;
    background-color: #e5bfbc;
    display: grid;
    grid-template: 3fr 2fr / 1.5fr 1.5fr 2fr;
    grid-template-areas:
        "main main aside"
        "section article aside";
}

.main {
    grid-area: main;
    background-color: white;
    border-radius: 30px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.section {
    grid-area: section;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article {
    grid-area: article;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    width: 50%;
}

.trata {
    width: 90%;
    border-radius: 30px;
    color: #86117e;
    border: 5px solid #86117e;
}

.trata:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px 0;
    
}

.turnos {
    width: 90%;
    border-radius: 60px 0;
    color: #86117e;
    border: 5px solid #86117e;
}

.turnos:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px 0;
}


.mimate {
    width: 90%;
}


.llamanos {
    width: 90%;
    border-radius: 30px;
    border: 5px solid #86117e;
}

.regalate {
    width: 90%;
    border-radius: 30px;
    border: 5px solid #86117e;
}

.produ {
    width: 90%;
    border-radius: 60px 0;
    color: #86117e;
    border: 5px solid #86117e;
}

.produ:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px 0;
}

@media screen and (max-width: 780px) {

    .container{
        height: 100%;
    grid-template: 3fr 3fr auto / 1fr 1fr;
    grid-template-areas:
        "main main"
        "section article"
        "aside aside"
        ;
    }
.mimate{
    display: none;
}
aside{
    gap: 1rem;
    margin: 1rem;
}
}