.navbar {
    background-color: #93435b;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 1rem;

}

.logo {
    font-size: 30px;
    margin: 0 1rem;
    color: white;
    text-decoration: none;
}

.logo:hover{
    transform: scale(1.1);
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75px;
}

.inicio,
.tratamientos,
.productos,
.contacto {

    text-decoration: none;
    color: white;
    font-size: x-large;
    padding: 1rem;
    margin: 0 1rem;
    cursor: pointer;
}

.mobile-menu-icon {
    display: flex;
    flex-direction: column;
    rotate: 90deg;
    letter-spacing: 2px;
    border-radius: 30%;
    display: none;
}

.active {
    background-color: #dcc69c;
    color: #93435b;
    border-radius: 10px;
}

.inicio:hover {
    color: #ed0bde;
}

.tratamientos:hover {
    color: #ed0bde;
}

.productos:hover {
    color: #ed0bde;
}

.contacto:hover {
    color: #ed0bde;
}

@media screen and (max-width: 992px) {
    .logo {
        display: none;
    }

    .navbar {

        justify-content: flex-end;
    }
}

@media screen and (max-width: 780px) {
    .logo {
        display: none;
    }

    .nav-links {
        display: none;
    }


    .nav-links-mobile {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5rem;
        margin: 2rem;
        padding: 2rem;
        list-style: none;
        background-color: #93435b;
        border-radius: 30px;
        right: 0;
        top: 100px;
        width: 50%;
        opacity: 0.9;
        z-index: 10;
    }

    .inicio,
    .tratamientos,
    .productos,
    .contacto {
        color: white;
        text-align: center;
        padding: 15px;
        width: 100%;
    }


    .mobile-menu-icon {
        font-weight: bold;
        display: flex;
        flex-direction: column;
        position: absolute;
        font-size: large;
        color: white;
        background-color: #cf898b;
        border: none;
        outline: none;
        top: 20px;
        right: 2rem;
    }
}