.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #764d3e;
    padding: 1rem;

}


.menuFooter {
    width: 80%;
    margin: 1rem;
    border: 2px solid white;
    border-radius: 30px;
}

.menuHorizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menuHorizontal li a {
    display: flex;
    padding: 1rem;
    color: white;
    text-decoration: none;
    font-size: x-large;
}

.menuHorizontal li:hover {
    transform: scale(1.1);
}

.menuVertical {
    padding: 1rem;
    position: absolute;
display: none;
    list-style: none;
}

.menuHorizontal li:hover .menuVertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    background-color: #e5bfbc;
    border-radius: 30px;
    width: 350px;
}

.menuVertical li:hover {
    margin: 0 2rem;
    background-color: #df948f;
    border-radius: 10px;
}

.menuVertical li a {
    display: block;
    color: white;
    padding: 15px;
    text-decoration: none;
    font-size: large;

}
.direccion p{
    color: white;
    font-size: x-large;
    margin: 2rem;
}

.social{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.social a{
    color: white;
}
.activate {
    font-weight: bold;
}


.Fface {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.Fface img {
    width: 5rem;
}

.Fface a{
    font-size: x-large;
}

.Finsta {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Finsta img {
    width: 5rem;
}

.Finsta a{
    font-size: x-large;
}

.Flogo {
    display: flex;
    justify-content: space-around;
    margin: 2rem;
    gap: 3rem;
}

.Flogo img {
    width: 5rem;

}

h2 {
    margin: 1rem;
    color: white;
    font-size: xx-large;
}

@media screen and (max-width: 780px){
    .menuHorizontal{
        flex-direction: column;
        align-items: center;
    }
}